<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}To Do List app{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/37d37f04fb.js" crossorigin="anonymous"></script>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

  <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="{{ path('app_default')}}"><span class="fw-bolder text-primary">ToDo & Co</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_default')}}">Accueil</a></li>
                             {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_user_new')}}">Utilisateurs</a></li>
                             {% endif %}
                             <li class="nav-item"><a class="nav-link" href="{{ path('app_task_new')}}">Nouvelle tâche</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_task_index')}}">Liste des tâches</a></li>
                            {% if not app.user %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_login')}}">Se connecter</a></li>
                             {% else %}
                            <li class="nav-item "><a class="nav-link text-danger" href="{{ path('app_logout')}}">Déconnection</a></li>
                             {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </nav>

            
        {% block body %}
          
        {% endblock %}
            

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                <strong>Superbe !</strong> {{ flash_message }}
            </div>
        {% endfor %}

        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger" role="alert">
                <strong>Oops !</strong> {{ flash_message }}
            </div>
        {% endfor %}

        </main>
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; OpenClassrooms</div></div>
                </div>
            </div>
        </footer>
    
</body>

</html>